.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}


.App-header {
  background-color: #fff;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:#48c529be;
  display: flex;
  text-decoration: none;
  font-weight: 900;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
  font-weight: 900;
  display: flex;
}